h3, h1 {
	text-align: center;
}

/*.row {
	display: block;
}*/

h1 {
	font-size: 100px; 
	font-family: 'Big Shoulders Display';
	text-shadow: 4px 0px black;
	color: grey;
}

h3 {
	font-family: 'Alex Brush', cursive;
	font-weight: bold;
	font-size: 38px;
}

.carousel {
	width: 100%;
	height:100%;
	margin: 0 auto;
}


nav ul{
	margin-left: 20px;
}

.bg-light {
    background-color: grey!important;
 }

 i.fas.fa-globe-europe.fa-2x{
 	color:white;
 }

.btn-outline-success {
    color: white;
    border-color: white;
}

li.nav-item,.navbar-light .navbar-nav .active>.nav-link{
	font-family:'Big Shoulders Display';
	color: white;
	font-size: 20px;
}

.navbar-light .navbar-nav .nav-link{
	color:#d6d6d6;
}


div#half.col-6{
	width:50%;
}

/*div#half.col{
	width: 47%;
	display: inline;
}*/

p, h2 {
	font-family: 'Gupter', serif;
	text-align: center;
}

img.fluid {
    width: 100%;
    padding-bottom: 20px
}



div#greeny.row {
	background-color: #d0d5d4;
	padding: 20px
}


img#grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.container {
	padding-top: 30px;
}


/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}