h3, h1 {
	text-align: center;
}

.row {
	display: block;
}

h1 {
	font-size: 100px; 
	font-family: 'Big Shoulders Display';
	text-shadow: 4px 0px black;
	color: grey;
}

h3 {
	font-family: 'Alex Brush', cursive;
	font-weight: bold;
}

.carousel {
	width: 1047px;
	height:555px;
	margin: 0 auto;
}

nav ul{
	margin-left: 20px;
}

.bg-light {
    background-color: grey!important;
 }

 i.fas.fa-globe-europe.fa-2x{
 	color:white;
 }

.btn-outline-success {
    color: white;
    border-color: white;
}
li.nav-item,.navbar-light .navbar-nav .active>.nav-link{
	font-family:'Big Shoulders Display';
	color: white;
}
.navbar-light .navbar-nav .nav-link{
	color:#d6d6d6;
}