h3, h1 {
	text-align: center;
}

.row {
	display: block;
}

h1 {
	font-size: 100px; 
	font-family: 'Big Shoulders Display';
	text-shadow: 4px 0px black;
	color: grey;
}

h3 {
	font-family: 'Alex Brush', cursive;
	font-weight: bold;
	font-size: 38px;
}

.carousel {
	width: 100%;
	height:100%;
	margin: 0 auto;
}

.container{
	padding-top:30px;
}

nav ul{
	margin-left: 20px;
}

.bg-light {
    background-color: grey!important;
 }

 i.fas.fa-globe-europe.fa-2x{
 	color:white;
 }

.btn-outline-success {
    color: white;
    border-color: white;
}

li.nav-item,.navbar-light .navbar-nav .active>.nav-link{
	font-family:'Big Shoulders Display';
	color: white;
	font-size: 20px;
}

.navbar-light .navbar-nav .nav-link{
	color:#d6d6d6;
}


img.blogimg{
	width: 100%;
	height: auto;
}

div#half.col{
	width: 47%;
	display: inline;
}


p, h2 {
	font-family: 'Gupter', serif;
	text-align: center;
}

img.fluid {
    width: 100%;}

div#grayness.row {
	background-color: gray;
	color: white;
	padding: 10px
}



